@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Monoton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --color-primary: #5380ba;
  --color-primary-transparent: rgba(83, 128, 186, 0.6);
  --color-primary-light: #f3f3f3;
  --color-complementory: #49b99d;
  --color-green-transparent: hsla(165, 44%, 51%, 0.6);
  --color-complementory-light: #62da9a;
  --color-secondary-yellow: #ffde65;
  --color-secondary-orange: #ffc465;
  --color-secondary-tranparent: hsla(37, 100%, 70%, 0.6);
  --color-btn-pink: #685cc2;
  --color-btn-pink-light: #8b53be;

  --color-grey-light: #c4c4c4;
  --color-grey-light-transparent: rgba(196, 196, 196, 0.9);
  --color-light-transparent: rgba(235, 245, 248, 0.9);

  --font-light: #fffdf6;
  --font-dark: #19181b;

  --gradient-primary: linear-gradient(to top left, #49b99d, #62da9a);
}
html {
  font-size: 62.5%;
  transition: filter 0.5s;
}
body {
  background-color: var(--color-primary-light);
  color: var(--font-dark);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235380ba' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Crimson Text', serif;
  font-size: 1.6rem;
  line-height: 1.9;
}
h1 {
  font-family: 'Monoton', sans-serif;
  text-transform: uppercase;
}
img {
  display: block;
  /* width: 100%; */
}
a {
  color: inherit;
  font-weight: 900;
  display: block;
  transition: all 0.3s;
}
header {
  /* padding: 0 3rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 6rem;
  height: 9rem;
  z-index: 10;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__links {
  align-items: center;
}
.nav__item {
  margin-left: 3rem;
}

.overlay {
  width: 50%;
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s, opacity 0.5s;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(calc(100vh - 70vh - 11rem));
}

.overlay.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
.overlay__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.overlay__links > li {
  background-color: var(--color-grey-light-transparent);
  border-radius: 2px;
  width: 90%;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
li a {
  font-size: 1.9rem;
}
li a:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}
.hamburger-menu {
  cursor: pointer;
  margin-bottom: 2rem;
  position: fixed;
  top: 2rem;
  right: 10rem;
  transform: translateX(50%);
  z-index: 11;
  transition: all 2s ease-in-out;
}

.bar1,
.bar2,
.bar3 {
  width: 3.5rem;
  height: 5.5px;
  background-color: var(--font-dark);
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 1.1rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -1.1rem) rotate(45deg);
}

/* HEADER TITLE STYLE */

.highlight {
  background-color: var(--color-primary);
  color: var(--font-light);
  width: 100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  justify-content: space-around;
  border-radius: 0.3rem;
}

.highlight__em {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: var(--color-secondary-yellow);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  margin: 1rem 1rem;
  position: relative;
}

/* movie player starts  */
.player {
  background-color: #62da9a;
  border: 5px solid black;
  border-radius: 1rem;
  background: black;
  position: relative;
  cursor: pointer;
  height: auto-fit;
}
.video {
  width: 90%;
  height: auto-fit;
  border-radius: 0.5rem;
}
.show-controls {
  width: 100%;
  height: 30%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  cursor: default;
}
.controls-container {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 9.5rem;
  margin-top: -9.5rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-out 2s;
}
.show-controls:hover .controls-container {
  opacity: 1;
  transition: all 0.2s ease-out;
}

/* Progress Bar */
.progress-range {
  width: calc(100% - 30px);
  height: 0.8rem;
  background-color: var(--color-grey-light-transparent);
  margin: auto;
  border-radius: 10px;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.progress-bar {
  background-color: var(--color-primary);
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.control-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.controls-left,
.controls-right {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 4rem;
}
.controls-left {
  justify-content: flex-start;
  margin-left: 1rem;
}

/* Play & Pause */
.play-controls {
  margin-right: 1rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--font-light);
  cursor: pointer;
}

.icon:hover {
  fill: var(--color-primary);
}
.fas {
  color: var(--font-light);
  font-size: 2.5rem;
}
.volume-range {
  height: 0.8rem;
  width: 8rem;
  background: var(--color-grey-light-transparent);
  border-radius: 1rem;
  position: relative;
  top: -2rem;
  left: 5rem;
  cursor: pointer;
}

.volume-bar {
  background: var(--font-light);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: width 0.2s ease-in;
}

.volume-bar:hover {
  background: var(--color-primary);
}

/* Right Controls ---------------------------- */
.controls-right {
  justify-content: flex-end;
  margin-right: 1rem;
}
.speed,
.time {
  position: relative;
  top: 1rem;
}

/* Playback Speed */
.speed {
  margin-right: 1.5rem;
}
select,
option {
  cursor: pointer;
  border: none;
}
select {
  background-color: transparent;
  color: var(--font-dark);
  border: none;
  font-size: 1.8;
  position: relative;
  top: -2.5px;
  border-radius: 5px;
}
select:focus,
option:focus {
  outline: none;
}
select > option {
  background: var(--color-primary-light);
  border: none;
  font-size: 14px;
}

/* Elapsed Time & Duration */
.time {
  margin-right: 1.5rem;
  color: var(--font-light);
  font-weight: bold;
  user-select: none;
}

/* Fullscreen */
.fullscreen {
  cursor: pointer;
}

.video-fullscreen {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header__title .text a {
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  transition: all 0.3s;
}
.header-btn:visited,
.header-btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  background-color: var(--color-complementory);
  box-shadow: inset 0 3px 5px var(--color-light-transparent);
  color: var(--font-light);
  transition: all 0.3s;
}
.header-btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(
    to top left,
    var(--color-primary),
    var(--color-btn-pink-light),
    var(--color-btn-pink)
  );
}
.header-btn:active {
  transform: translateY(-1px);
}

.hide {
  display: none;
}
/* MAIN */
/* MAIN GENERAL STYLES */
.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}
.section-hidden {
  transform: translateY(-8rem);
  opacity: 0;
}
.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}
.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}
.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

img {
  transition: filter 0.5s;
}
.lazy-img {
  filter: blur(20px);
}

/* FEATURE */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 0.5rem;
  transform: translateY(-15%);
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  color: var(--font-dark);
  font-weight: 600;
  transition: all 0.2s;
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-complementory-light);
}
.operations__tab--1:hover {
  background-color: var(--color-complementory);
}
.operations__tab--2 {
  background-color: var(--color-btn-pink-light);
}
.operations__tab--2:hover {
  background-color: var(--color-btn-pink);
}

.operations__tab--3 {
  background-color: var(--color-secondary-yellow);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-secondary-orange);
}

.operations__tab--active {
  transform: translateY(0);
}

.operations__content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}
.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
  fill: var(--color-primary-light);
}

.operations__content p {
  grid-column: 2;
}
.operations__icon--1 {
  background-color: var(--color-green-transparent);
}
.operations__icon--2 {
  background-color: var(--color-primary-transparent);
}
.operations__icon--3 {
  background-color: var(--color-secondary-tranparent);
}
.operations__icon--1 svg {
  font-size: 5rem;
}
.operations__icon--2 svg {
  font-size: 5rem;
}
.operations__icon--3 svg {
  font-size: 5rem;
}

/* STAR RATING */
.star-rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* user-select: none; */
}
.star {
  font-size: 5rem;
  color: var(--color-secondary-yellow);
  background-color: inherit;
  border: none;
}
.star:hover {
  cursor: pointer;
  color: var(--color-secondary-orange);
}
